<ion-view title="Auth">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Login</h1>
    <form ng-submit="login()">
	    <label for="name" class="item item-input">
	    	<span class="input-label">Email</span>
	    	<input type="text" name="email" ng-model="auth.username" placeholder="Enter Email" required>
	    </label>

	    <label class="item item-input">
	    	<span class="input-label">Password</span>
	    	<input type="password" name="password" ng-model="auth.password" placeholder="Password" required>
	    </label>

	    <button class="button button-positive button-block"  type="submit">
	    	Log in
	    </button>
    </form>

<!--     <h2> These are just test buttons below</h2>

    <button class="button button-calm button-block" ng-click="testclick()">
    	Register
    </button>

	<button class="button button-positive button-block" ng-click="toggle = !toggle" ng-show="toggle">
    	Log in
    </button>

    <button class="button button-calm button-block" ng-click="toggle = !toggle" ng-hide="toggle" >
    	Register
    </button>

    <button ng-click="count = count + 1" ng-init="count=0" class="button button-calm button-block">
    	Add one
    </button>
    count: {{count}} -->

  </ion-content>
</ion-view>
